<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"> </script>
 <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
<script>
  //var admin = require('firebase-admin');
     //var firebase = require('firebase');
  // Initialize Firebase
  //var config = {
    //apiKey: "AIzaSyDEqR-tbCFvOiSbZVxfE5p827c_AE1ZNJo",
    //authDomain: "expensetracker-b8706.firebaseapp.com",
    //databaseURL: "https://expensetracker-b8706.firebaseio.com",
    //projectId: "expensetracker-b8706",
    //storageBucket: "expensetracker-b8706.appspot.com",
    //messagingSenderId: "263629388387"
  //};
  //firebase.initializeApp(config);


   function logout()
    { 
        firebase.auth().signOut().then(function() {
        window.location = 'login';
      }, function(error) {
        // An error happened.
      });
    }
 </script>
<div id="table-items">

  <button id="log_out" class="log_out" name="log_out" onclick="logout();">Logout</button>
  
  
<table id="orders" name="orders" border="1px"> 
    <thead>
            <tr>
                       <th>Ordered Item Name</th>
                <th>Ordered Item Cost</th>
                <th>Ordered Item Quantity</th>
                <th>Ordered Item Total Cost</th>
                <th>Ordered Item Time</th>
           </tr>
        </thead>

  <tbody>
    {{#each single_order}}
   
            <tr>
        <td>{{ordered_item_name}}</td>
        <td>{{ordered_item_cost}}</td>
        <td>{{ordered_item_quantity}}</td>
        <td>{{ordered_item_total_cost}}</td>
        <td>{{ordered_time}}</td>
        
    </tr>
   
    {{/each}}
   
 </tbody>
</table>
</div>

