<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"> </script>
 <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDEqR-tbCFvOiSbZVxfE5p827c_AE1ZNJo",
    authDomain: "expensetracker-b8706.firebaseapp.com",
    databaseURL: "https://expensetracker-b8706.firebaseio.com",
    projectId: "expensetracker-b8706",
    storageBucket: "expensetracker-b8706.appspot.com",
    messagingSenderId: "263629388387"
  };
  firebase.initializeApp(config);

   function logout()
    { 
        firebase.auth().signOut().then(function() {
        window.location = 'login';
      }, function(error) {
        // An error happened.
      });
    }
 </script>
<div id="table-items">

  <button id="log_out" class="log_out" name="log_out" onclick="logout();">Logout</button>
  
  <a href="show-my-orders"> <button id="show_my_orders" class="show_my_orders" name="show_my_orders" >Show my orders</button> </a> 

<table id="orders" name="orders" border="1px"> 
    <thead>
            <tr>
                <th>Ordered Item Name</th>
                <th>Ordered Item Cost</th>
                <th>Ordered Item Quantity</th>
                <th>Ordered Item Total Cost</th>
                <th>Ordered Item Time</th>
           </tr>
        </thead>

  <tbody>
    {{#each orders}}
   
            <tr>
        <td>{{ordered_item_name}}</td>
        <td>{{ordered_item_cost}}</td>
        <td>{{ordered_item_quantity}}</td>
        <td>{{ordered_item_total_cost}}</td>
        <td>{{ordered_time}}</td>
        
    </tr>
   
    {{/each}}
 </tbody>
</table>
</div>


<!--MODAL -->
    <div class="modal fade region-add-modal" id="place_order_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form action="/place_order" method="post" >
     
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h6 class="modal-title">Edit Facets</h6>
            </div>
            <div class="modal-body">
              <div class="form-group m-b-20">
             
              <label>Item Name  <span class="text-danger">*</span></label>
              <input type="text" class="form-control fnb-input" name="item_name" id="item_name" placeholder="Item Name" readonly>
            </div>

            <div class="form-group m-b-20">
            
              <label>Item Cost  <span class="text-danger">*</span></label>
               <input type="text" class="form-control fnb-input" name="item_cost" id="item_cost" placeholder="Enter Item Cost" required>
            </div>

            <div class="form-group m-b-20">
            
              <label>Item Quantity  <span class="text-danger">*</span></label>
               <input type="number" min="1" max ="" class="form-control fnb-input" name="item_quantity" id="item_quantity" placeholder="Select Item Quantity" required>
            </div>

            </div>
          <div class="modal-footer">
            <button type="button" class="btn fnb-btn outline no-border" data-dismiss="modal">Cancel</button>
            <button type="submit" name="place_order" id="place_order" class="btn primary-btn fnb-btn no-radius">Place Order</button>
          </div>

        </form>
      </div>
    </div>
  </div> <!-- modals closed -->






<script> 
$(document).ready(function() {
  
  var table=$('#orders').DataTable({
   
      initComplete: function (){
        //modals
        var api = this.api();
        
      } //initcomplete
  } ); //items
});//datatable            


</script>
